@charset "utf-8";
body{

}
@font-face{
	font-family:champagne;
	src:url(../fuentes/cac_champagne.ttf);
}
h1{
	clear:both;
	text-align:center;
	padding-top: 60px;
	font-family:champagne,Times New Roman, Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:44px;
	color: lime;
	text-shadow: 0 0 5px #000;
}
fieldset{
	box-shadow: 10px 10px 5px #888888;
	width:500px;
	margin-left:30%;
}

label{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:30px;
	display:block;
	font-family: 'Oswald', sans-serif, times new roman;
}
input,select{
	transition:all 1s;
}
input:focus, select:focus{
	border-radius:8px;
	background-color:#CCC;
}

button{
	margin-top:50px;
	padding: 9px;
	font-family:Impact, Haettenschweiler;
	font-size:15px;
	background:linear-gradient(to bottom right,#0C3,#0C9);
	border:2px solid #FFF;
	margin-left:25%;
	transition: all 2s;
}
button:hover{
	cursor:pointer;
	box-shadow: 0 0 15px #00FF00;
}
div#animacionbalon {
    width: 100px;
    height: 100px;
	margin-top: 20px;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 15s infinite;
	animation-duration: 20s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 90%;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 90%;}
}
input.error{
	background-color:#F00;
}
input:valid, select:valid{
	box-shadow: 0 0 9px #00FF00;
}