/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/02/2015, 12:25:03 AM
    Author     : jeisson
*/


.tablatit {
    font-family: verdana, impact, arial;
    text-align: left;
    letter-spacing: 2px;
    color: #1e90ff;
}

#tarjetas label,select {
    display: block;
}
#tarjetas label {
    font-family: 'frankil gothic medium', 'lucida fax', 'lucida sans', 'Times New Roman', verdana,arial;
}
.confirmt {
    font-style: italic;
    color: #22892a;
}

@font-face{
	font-family: altea;
	src:url(../fuentes/ALTEA.TTF);
}

h1#titulo{
	clear:both;
	text-align:center;
	font-family:altea,'times new roman', tahoma, sans-serif, 'lucida-grande';
	color:#0F0;
	text-shadow: 0 0 5px #000000;
	padding-top: 80px;
	font-size:50px;
}
tr th:hover {
    cursor: pointer;
    background-color: #000;
    color: #ffffff;
}
/*estilo de las tablas*/
table {
		border-collapse:collapse;
		background:#EFF4FB url(http://www.roscripts.com/images/teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
}

td, th {
		padding:5px;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

table a {
		color:#950000;
		text-decoration:none;
}

table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

table a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
		background:#333 url(http://www.roscripts.com/images/llsh.gif) repeat-x;
		color:#fff
}

tfoot td {
		text-align:right
}

/* =body
----------------------------------------------- */

tbody th, tbody td {
		border-bottom: dotted 1px #333;
}

tbody th {
		white-space: nowrap;
}

tbody th a {
		color:#333;
}

.odd {}

tbody tr:hover {
		background:#fafafa
}

.tooltip_elemento {
        position: relative;
    }

.tooltips {
        display: none;
        position: absolute;
        width: 200px;    
        padding: 10px;
        margin: 0 0 12px 0;    
        z-index: 100;
        bottom: 100%;
        background: #FDD017;
        color: #000;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        border-radius: 5px;
}

.tooltips:after {
        content: "";
        position: absolute;
        bottom: -14px;
        z-index: 100;
        border: 0 solid #FDD017;
        border-bottom: 14px solid transparent;
        border-left-width: 10px;
        width: 50%;
        left: 50%;
}
 
.tooltips:before {
        content: "";
        position: absolute;
        border: 0 solid #FDD017;
        bottom: -14px;
        z-index: 100;
        border-right-width: 10px;
        border-bottom: 14px solid transparent;
        width: 50%;
        right: 50%;
}
