@charset "utf-8";
div#mes{
	position:relative;
	top:150px;
	clear:both;
	background-color:#360;
	
	width:80%;
	border-radius:30px;
	box-shadow:-8px -8px 8px #000;
	height:300px;
	left:10%;
	z-index:1;
	}
h1#titul{
		position:relative;
		top:20px;
		color:white;
		text-align:center;
		display:inline-block;
	    margin-left:350px;
		right:100px;
}
h1#titul:hover{
       color:green;
}
			
input{
	position:relative;
	top:100px;
	right:110px;
	width:100px;
	height:40px;
	right:405px;
	
	}

input:hover{
	background-color:#FFF;
	border-color:#390;
	transition:all 1s;
	box-shadow: 3px 3px 5px #333;
	
	
	}
	select {
		position:relative;
		top:20px;
		width:100px;
		height:30px;
		right:80px;
		}
		
 footer {
	 position:relative;
	 top:150px;
	 
	 }
		
		